@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-black: #1f1f1f;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-success: #25bb2f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black;
}

.btn {
  @apply font-semibold md:font-bold rounded-lg;
}

.nav-links {
  @apply capitalize rounded-2xl text-black;
}

.nav-links:hover,
.nav-links.active {
  @apply bg-primary;
}

.swiper-slide {
  @apply self-center;
}

.accordion-checked:has(input:checked) {
  @apply bg-[#E6F2F3] border-[#067A87];
}

.reviewsSwiper {
  @apply w-full h-full;
}

.reviewsSwiper .swiper-slide:not(.swiper-slide-active) {
  @apply blur-sm opacity-70;
}

.reviewsSwiper .swiper-slide-next,
.reviewsSwiper .swiper-slide-prev {
  @apply blur-[2px]! opacity-90!;
}
